<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBilletService" />
                <binding name="BasicHttpsBinding_IBilletService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://billetwcfservice20170918031154.azurewebsites.net/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBilletService"
                contract="ServiceReference1.IBilletService" name="BasicHttpBinding_IBilletService" />
            <endpoint address="https://billetwcfservice20170918031154.azurewebsites.net/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IBilletService"
                contract="ServiceReference1.IBilletService" name="BasicHttpsBinding_IBilletService" />
        </client>
    </system.serviceModel>
</configuration>